body {
	font-family: 'Piazzolla', serif;
	font-weight: 400;
	background-color: #EEE7DF;
	color: #222;
}

/* svg { height: 16px; }*/

#library #library-header,
#library #library-list > div {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}

.hide { display: none; }

.show { display: block; }